
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a  routerLink="/contato">Contatos</a></li>
  <li class="breadcrumb-item"><a  routerLink="/contato/{{contato.id}}">{{contato.nome}}</a></li>
  <li class="breadcrumb-item active">Editar</li>
</ol>

<app-contact-form
  [title] = "'Editar Contato'"
  [dados] = "form"
  (formOut) = "formSubmit($event)"
  (formReady) = "onFormReady()"
></app-contact-form>