
.img-container {
    width: 200px;
    height: 200px;
    border: 1px solid #aaa;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.form-actions {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 15px;

    button {
        margin-left: 15px;
    }
}

.img-selector-container {
    margin-bottom: 20px;
}

.data-nascimento .invalid-feedback {
    display: block !important;
}