
<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmitForm()">
      
      
      <div class="form-row img-selector-container">
        <div class="form-group col-md-6">
          <label for="exampleFormControlFile1">Foto</label>
          <input type="file" class="form-control-file" (change)="imageChange($event)">
        </div>
        <div class="col-md-6">
          <div class="img-container">
            <img src="{{formImageUrl}}" id="contactFormImg">
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="nome">Nome*</label>
        <input type="text" id="nome" placeholder="Nome do contato" formControlName="nome"
        [ngClass]="{'form-control' : true, 'is-invalid' : (nome.invalid && (nome.touched || formSubmitAttempt))}">
        <div class="invalid-feedback">
            Defina um nome para o contato.
        </div>        

      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="telefone">Telefone</label>
          <input type="text" class="form-control" id="telefone" placeholder="Telefone" formControlName="telefone">
        </div>
        <div class="form-group col-md-6 data-nascimento">
          <label for="endereco">Data de nascimento* </label>
          <div class="input-group">
            <input 
            [ngClass]="{'form-control':true, 'is-invalid' : formSubmitAttempt && !dataIsValid}"
            placeholder="yyyy-mm-dd"
            name="dp" [(ngModel)]="dataNascimento" [ngModelOptions]="{standalone: true}" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
          <div class="invalid-feedback" *ngIf="formSubmitAttempt && !dateIsValid">
            Escolha uma data válida.
          </div>
        </div> 
      </div>
      <div class="form-group">
        <label for="email">Email*</label>
        <input type="text" id="email" placeholder="Email do contato" formControlName="email"
        [ngClass]="{'form-control' : true, 'is-invalid' : (email.invalid && (email.touched || formSubmitAttempt))}">
        <div class="invalid-feedback">
            <ng-container *ngIf="email.errors?.required">Defina um email para o contato.</ng-container> 
            <ng-container *ngIf="email.errors?.invalidEmail && !email.errors?.required">Email inválido.</ng-container> 
        </div>         
      </div>
      <div class="form-group">
        <label for="endereco">Endereco</label>
        <input type="text" class="form-control" id="endereco" placeholder="Endereco do contato" formControlName="endereco">
      </div>
      
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-danger" routerLink="/contato">Cancel </button>
      </div>
      
    </form>
  </div>
</div>
