$topbar-height: 56px;
$sidenav-width: 250px;

@mixin calc-height ($porcentagem, $sobra) {
    height: -webkit-calc(#{$porcentagem} - #{$sobra});
	height: -moz-calc(#{$porcentagem} - #{$sobra});
	height: calc(#{$porcentagem} - #{$sobra});
} 

@mixin calc-width ($porcentagem, $sobra) {
    width: -webkit-calc(#{$porcentagem} - #{$sobra});
	width: -moz-calc(#{$porcentagem} - #{$sobra});
	width: calc(#{$porcentagem} - #{$sobra});
} 