@media (max-width : 768px) {
    &.hide-on-small {
        display: none;
    }
}

.card-header {
    display: flex;

    .title {
        flex-grow: 1;
        line-height: 31px;
    }

    .buttons {
        flex-direction: row-reverse;
    }
}

thead tr {
    td {
        width: 20%;
        // text-align: center;
        cursor: pointer;

        &:hover {
            color: #666;
        }
    }

}

tbody tr.list-item {
    cursor: pointer;
    &:hover {
        background-color: #eee;
    }

    td {
        // text-align: center;
    }

    .acoes {
        span {
            padding-left: 5px;
            cursor: pointer;
            &:hover {
                color: #666;
            }            
        }
    }
}

.contact-list-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}