<app-basic-modal
[open]="openModal"
(result)="modalClosed($event)"
></app-basic-modal>

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Contatos</li>
</ol>

<div class="card">
  <div class="card-header">
    <div class="title">
      Lista de contatos
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-dark btn-sm" routerLink="/contato/criar">Adicionar</button>
    </div>
  </div>
  
  <div class="card-body">
    
    <table class="table" *ngIf="orderedPagedData?.length">
      <thead>
        <tr>
          <td *ngFor="let field of fields;"
          [ngClass] = "{'hide-on-small' : !field.mobile}"
          (click)="setOrderByField(field.name)">
          {{field.text}}
          <app-order-arrow
          [show]="field.name == orderByField"
          [ascending]="orderByAsc">
        </app-order-arrow>
      </td>
      <td> Acoes </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of orderedPagedData;" class="list-item">
      
      <td routerLink="{{item.id}}"
      [ngClass] = "{'hide-on-small' : !field.mobile}"
      *ngFor="let field of fields;">
      
      <!-- Campos de texto -->
      <ng-container *ngIf="!field.date">
        {{item[field.name] ? item[field.name] : '-'}}
      </ng-container>
      
      <!-- Camos de data -->
      <ng-container *ngIf="field.date">
        {{item[field.name] ? (item[field.name] | date:'d/M/yy') : '-'}}
      </ng-container>      
      
    </td>
    
    <td class="acoes">
      <span class="oi oi-pencil" title="Editar" aria-hidden="true" routerLink="{{item.id}}/editar"></span>
      <span class="oi oi-x" title="Remover" aria-hidden="true" (click)="removeContact(item)"></span>
    </td>
    
  </tr>
</tbody>
</table>

<p *ngIf="!orderedPagedData?.length">
  Não existem contatos cadastrados.
</p>

<div class="contact-list-footer" *ngIf="orderedPagedData?.length">
  <ngb-pagination 
  [collectionSize]="data.length" 
  [pageSize]="perPage" 
  [(page)]="currentPage" 
  (pageChange) = "updateOrderAndPaginate()"
  aria-label="Default pagination">
</ngb-pagination>
</div>

</div>

</div>
