
<div class="container">

  <div class="card login ">
    <div class="card-body">
      <h4 class="card-title">Sistema Teste </h4>
      <div class="alert alert-danger" role="alert" *ngIf="message">
        {{message}}
      </div>
      <form  (ngSubmit)="onSubmitForm()">
        <div class="inputs">
          <div class="form-group">
            <label for="nome">Email</label>
            <input type="text" [(ngModel)]="email" class="form-control" name="email" placeholder="user@email.com">
          </div>
          <div class="form-group">
            <label for="nome">Senha</label>
            <input type="password" [(ngModel)]="senha" class="form-control" name="password" placeholder="senha do usuario">
          </div>
        </div>

        <div class="actions">
            <button type="submit" class="btn btn-outline-primary btn-block"> Logar </button>
        </div>

      </form>
    </div>
  </div>

</div>
