
.container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    .login {
        width: 300px;
        margin-top: 100px;

        .card-title {
            text-align: center;
        }

        .card-text {
            text-align: center; 
        }

        .inputs {
            margin-top: 15px;
            margin-bottom: 15px;
            padding-top: 15px;
            padding-bottom: 15px;   
            border-top: 1px #d8d8d8 solid;
            border-bottom: 1px #d8d8d8 solid;
        }

        .actions {
            // padding-top: 25px;
        }
    }
}