@import "../../../../styles/config.scss";

.header {
    height: $topbar-height;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    display: flex;

    .app-name {
        color: #fff;
        font-size: 1.25rem;
        padding-left: 20px;
        line-height: $topbar-height;
        white-space: nowrap;  
        flex-grow: 1;      
    }
    
    .user-menu-container  {
        flex-grow: 1;     
        display: flex;
        flex-direction: row-reverse;

        .user-menu {
            color: #fff;
            line-height: $topbar-height;
            margin-right: 40px;

            .username {
                padding-right: 10px;
            }

            .oi {
                cursor: pointer;
                &:hover {color: #B6B6B6;}
            }
        }
    }
}

.body-container {
    width: 100%;
    height: -webkit-calc(100vh - #{$topbar-height});
	height: -moz-calc(100vh - #{$topbar-height});
	height: calc(100vh - #{$topbar-height});
    margin-top: $topbar-height;
    display: flex;

    .sidenav {
        height: 100%;
        width: $sidenav-width;
        border-top: 1px solid #717171;  
        
        @media (max-width: 768px) {
            display: none;
        }

        .menu-items {
            list-style: none;
            color: #fff;
            padding: 0px;
            margin: 0px;

            .item {
                cursor: pointer;
                color: #868e96;
                height: 56px;
                line-height: 56px;
                padding-left: 20px;

                &.active {
                    background-color: #495057;
                    color: #fff;
                }

                &:hover {
                    color: #fff;
                }
            }
        }
        
    }

    .content {
        height: -webkit-calc(100vh - #{$topbar-height});
        height: -moz-calc(100vh - #{$topbar-height});
        height: calc(100vh - #{$topbar-height});
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        padding: 20px;
    }
}