<div class="header bg-dark">
    <div class="app-name" routerLink="/contato">Test app </div>
    <div class="user-menu-container" *ngIf="user"> 
        <div class="user-menu">
            <span class="username"> {{user.email}} </span>
            <span class="oi oi-account-logout" (click)="logout()"></span>
        </div>
    </div>
</div>
<div class="body-container">
    
    <div class="sidenav bg-dark">
        <ul class="menu-items">
            <li class="item active" routerLink="/contato"> Contatos </li>
        </ul> 
    </div>
    
    <div class="content">
        <ng-content select="[layout-content]"></ng-content>
    </div>
    
</div>