.card-header {
    display: flex;
    
    .title {
        flex-grow: 1;
        line-height: 31px;
    }
    
    .buttons {
        flex-direction: row-reverse;
    }
    
}


.card-body {
    display: flex;
    flex-wrap: wrap;
    
    .img-container {
        width: 200px;
        height: 200px;
        margin-right: 20px;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: #f8f8f8;
        overflow: hidden;
        
        @media (max-width: 650px) {
            margin-right: 0px;
            margin-left: -webkit-calc(50% - 100px);
            margin-left: -moz-calc(50% - 100px);
            margin-left: calc(50% - 100px);            
        }

        img {
            width: 100%;
            border: 1px dotted #CADFFF;
        }
    }
    
    .info {
        flex-grow: 1;
        margin-top: 20px;
        span {font-weight: bold;}
        p {
            margin-bottom: 5px;
        }
    }
    
}