<app-basic-modal
  [open]="openModal"
  (result)="modalClosed($event)"
></app-basic-modal>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a  routerLink="/contato">Contatos</a></li>
  <li class="breadcrumb-item active">{{contact.nome}}</li>
</ol>

<div class="card">
  <div class="card-header">
    <div class="title">
      Detalhes
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-dark btn-sm" routerLink="/contato/{{contact.id}}/editar">Editar </button>
      <button type="button" class="btn btn-dark btn-sm" (click)="removeContact(contact)"> Remover </button>
    </div>    
  </div>
  <div class="card-body">
    
    <div class="img-container">
      <img src="{{contact.foto}}" class="">
    </div>
    <div class="info">  
      <h4 class="card-title">{{contact.nome}}</h4>
      <div class="row">
        <p class="card-text col-md-6"> <span>Id:</span> {{contact.id}}</p>
        <p class="card-text col-md-6"> <span>Telefone:</span> {{contact.telefone}} </p>
      </div>
      <div class="row">
        <p class="card-text col-md-6"> <span>Email:</span> {{contact.telefone}} </p>
        <p class="card-text col-md-6"> <span>Endereço:</span> {{contact.endereco}} </p>
      </div>
      <div class="row">
        <p class="card-text col-md-6"> <span>Data nascimento: </span> {{contact.data_nascimento | date:'d/M/yy'}} </p>
        <p class="card-text col-md-6"> <span>Data cadastro: </span> {{contact.data_cadastro | date:'d/M/yy'}} </p>
      </div>
    </div>
    
  </div>
</div>

