<ol class="breadcrumb">
    <li class="breadcrumb-item"><a  routerLink="/contato">Contatos</a></li>
    <li class="breadcrumb-item active">Cadastrar contato</li>
</ol>

<app-contact-form 
[dados]="formInput"
[title]="'Criar Contato'"
(formOut)="formSubmitData($event)">
</app-contact-form>
