<ng-template #modalRef let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Remover Contato</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> {{content}} </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('cancel')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="c('confirm')">Confirmar</button>
  </div>
</ng-template>